<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <form action="/ejs/add" method="post">
        <div>
          <label for="name">Nombre </label>
          <input name="name" />
        </div>
        <div>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </body>
</html>
